<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>gitinputservlet</servlet-name>
        <servlet-class>GitInputServlet</servlet-class>
    </servlet>

    <!-- サーブレットのURLマッピング -->
    <servlet-mapping>
        <servlet-name>gitinputservlet</servlet-name>
        <url-pattern>/gitinputservlet</url-pattern>
    </servlet-mapping>
</web-app>